@use "@/shared/styles/scss/base/index" as *;

$btnColor: #615793;
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: toRem(35);
  &__container--title {
    max-width: toRem(900);
    margin-bottom: toRem(50);
    text-align: center;
  }
  &__title {
    @include adaptiveValue("font-size", 50, 30, 20, $containerWidth, $minWidth);
    margin-bottom: toRem(25);
  }
  &__description {
  }
}

.restaurant__comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(25);
  &--btn {
    padding: toRem(15) toRem(25) toRem(15) toRem(25);
    background-color: $btnColor;
    color: white;
    border-radius: toRem(15);
  }
}
