.circle-background {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .circle {
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    box-sizing: border-box;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        $size: 100px + ($i * 120);
        $opacity: 0.25 - ($i * 0.04);

        width: $size;
        height: $size;
        border-color: rgba(0, 0, 0, $opacity);
      }
    }
  }
}
